body {
    font-family: poppins;
}


.Principal {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -0.5%;
    margin-top: 1%;
}

.Producto {
    width: 100%;
    height: 100%;    
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.Box {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.Box .minbox {
    height: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Box .minbox img {
    height: 100%;
}

.Box:nth-child(2) {    
    /* height: 100%; */
    background-color: red;
}

.Box .minbox h2 {
    color: #013797;
}

.Box .minbox {
    width: 33.33%;
    /* background-color: red; */
}

.Box:nth-child(2) .minbox h2 {
    color: white;
}

.Box:nth-child(2) .minbox {
    width: 30%;
    color: white;
}

.ContenedorPoligonos {
    width: 70%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Cuadro {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 250px;
    height: 250px;
    border: 2px solid white;
    border-radius: 15px;
    margin: auto;
    transform: rotate(45deg)
}

.Cuadro:nth-child(2) .Contenido {
    /* background-color: red; */
    width: 100%;
    bottom: 5%;
    left: 13%;
    text-align: center;
}

.Contenido {
    position: absolute;
    transform: rotate(-45deg);
    color: white;
    font-size: 15px;
    /* background-color: red; */
    bottom: 10%;
    left: 15%;
    text-align: center;
}

.TituloCuadro {
    position: absolute;
    transform: rotate(-45deg);
    color: white;
    font-size: 18px;
    width: 90%;
    /* background-color: red; */
    left: -15%;
    top: 10%;
    font-weight: bold;
    text-align: center;
}

.TituloBox2 {
    width: 90%;
    margin-top: -8%;
    font-weight: bold;
}

.ContenidoBox2 {
    width: 90%;
    margin: 0%;
}


.Casos {
    margin: 5% auto;
    width: 85%;
    height: 100%;
    /* background-color: red; */
}

.Casos h2 {
    margin: 0%;
}

.ContenedorCasos {
    display: flex;
    flex-wrap: wrap;
    /* margin: 2%; */
    /* background-color: red; */
}

.Casos .Caja {
    width: 360px;
    min-height: 200px;
    background-color: #5B0C8D;
    text-align: center;
    color: white;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 2% auto;
}

.Caja p:nth-child(1) {
    font-weight: bold;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {

    .Principal {
        height: auto;
    }
    .Producto{
        margin-left: -1.8%;
    }

    .Box {
        height: 100%;
        flex-direction: column;
        margin: 2% 0%;    
    }

    .Box .minbox {
        width: 100%;
        align-items: center;
        height: 50%;
    }

    .Box .minbox:nth-child(2) {        
        width: 95%;
        margin: auto;
    }

    .Box .minbox p {        
        font-size: 15px;
    }

    .Box .minbox img {
        margin-top: 5%;
        width: 100%;
    }

    .ContenedorPoligonos {
        flex-direction: column;
        width: 100%;
        height: 80%;
    }

    .Cuadro {
        width: 180px;
        height: 180px;
        margin-top: 20%;
    }

    .TituloCuadro {
        font-size: 12px;

    }

    .Contenido {
        font-size: 10px;
        bottom: 20%;
        left: 5%;
    }

    .Cuadro:nth-child(2) .Contenido {
        width: 100%;
        bottom: 15%;
        left: 10%;
        text-align: center;
    }
    .Box:nth-child(2) .minbox {
        margin-top: 30%;        
        width: 100%; 
        height: 40%;   
        font-size: 15px;
    }
}