body {
    font-family: poppins;
}

:root{
    --TranslateMovil: -650px;
    --TranslateWeb: 0px;
    --Letras: 100%;
    --TranslateModulo: -1000px;
    --TranslateModulo2: 0px;
}


.Principal {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -0.5%;
    margin-top: 1%;
}

.Producto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.Box {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #510B7E;
}

.Box:nth-child(2) {
    width: 60%;
    height: 100%;
}

.Box .minbox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    color: white;
    padding: 1%;    
}

.Box .minbox img {
    margin-top: 5%;
    height: 15%;
}

.Box .minbox h2 {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 50px;
    letter-spacing: 1.5px;
}

.Box .minbox p {
    position: relative;
    width: 65%;
    font-size: 20px;
    margin-top: 1.5%;
}

.Box .minbox:nth-child(1) p::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    top: -10%;
    left: 0%;
    background-color: white;
}

.Box .minbox:nth-child(1) p::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0%;
    bottom: -10%;
    background-color: white;
}

.Box .minbox p:nth-child(1) {
    font-weight: bold;
}
.Box2 {
    width: 100%;
    height: 680px;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.Box2 .minbox:nth-child(1) {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Box2 .minbox:nth-child(1) img {
    width: 65%;
}

.Box2 .minbox:nth-child(1) p {
    font-size: 17px;
    width: 80%;
}

.Box2 .minbox:nth-child(2) {
    width: 60%;
    display: flex;
    flex-direction: row;
    background-color: #510B7E;
}

.Box2 .minbox:nth-child(2) img {
    width: 30%;
    height: auto;
    border-radius: 15px;
    margin: auto;
}

.Lbox {
    text-align: center;
    width: 25%;
    color: white;
}

.Lbox p {
    margin-top: 50%;
}

.Box3 {
    width: 100%;
    height: 680px;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.Box3 .minbox {
    width: 50%;
    background-color: #510B7E;
}

.Box3 .minbox:nth-child(2) {
    width: 40%;
    background-color: white;
}

.Box3 .minbox:nth-child(1) img {
    width: 30%;
    height: auto;
    border-radius: 15px;
    margin: auto;
}

.Box3 .minbox:nth-child(2) img {
    width: 40%;
}

.chkCambio {
    position: fixed;
    right: 2%;
    top: 8%;
    --size: 100px; 
    z-index: 5;   
}

.chkCambio p{
    color: white;
    font-weight: bold;
    position: absolute;    
    top: 60%;
    right: 10%;

}

.chkCambio input[type="checkbox"] {
    -webkit-appearance: none;
    width: var(--size);
    height: calc(var(--size) / 2);
    background-color: #fff;
    border: 3px solid #252E2F;
    border-radius: 30px 100px 100px 100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    outline: none;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
}

.chkCambio input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: calc(var(--size) / 2);
    height: calc(var(--size) / 2);
    left: 0;
    top: 50%;
    transform: translateY(-50%) scale(0.7);
    border: 3px solid #252E2F;
    border-radius: 30px 100px 100px 100px;
    background-color: #510B7E;
    box-sizing: border-box;
    transition: all 0.5s;    
}

.chkCambio input[type="checkbox"]:checked {
    background-color: #510B7E;
    border-radius: 100px 100px 30px 100px;
}

.chkCambio input[type="checkbox"]:checked::before {
    left: 50%;
    background-color: #fff;
    border-radius: 100px 100px 30px 100px;
}

.ContenedorImagenes{  
    position: relative;      
    width: 90%;
    height: 80%;
    /* background-color: red; */
    margin: auto;    
    display: flex;        
    align-items: center;
    overflow-x: hidden;
    
}

.ContenedorImagenes img{    
    position: absolute;    
    width: auto;        
}

.web{    
    height: 60%;
    transition: all 800ms;    
    transform: translateX(var(--TranslateWeb));
}

.movil{    
    height: 80%;
    transition: all 800ms;
    transform: translateX(var(--TranslateMovil));
}


.C1h2{
    opacity: var(--Letras);
}

.C1P1{
    opacity: var(--Letras);
}

.Box2 .minbox:nth-child(2) {
    position: relative;
    overflow-x: hidden;    
}

.minboxModulo{
    position: relative;
    display: flex;
    flex-direction: row;
    transition: all 500ms;
    transform: translate(var(--TranslateModulo));
}

.minboxModulo:nth-child(1){
    position: absolute;
    flex-direction: column;
    height: 100%;    
    transform: translate(var(--TranslateModulo2));
}

.Box2 .minbox:nth-child(2) .minboxModulo:nth-child(1) img {
    width: 75%;
    height: auto;
    border-radius: 15px;
    margin: auto;    
}


.Box2:nth-child(3) .minbox:nth-child(1) img{
    margin: 15% auto;
    width: 30%;        
}

.Box2:nth-child(3) .minbox:nth-child(1){
    background-color: #510B7E;
    color: white;
}

.Box2:nth-child(3) .minbox:nth-child(2) .minboxModulo:nth-child(2) img {
    width: 40%;
    margin-left: 50%;
}

.Box2:nth-child(4) .minbox:nth-child(1) img{
    margin-top: 10%;
    width: 45%;
}

.Box2:nth-child(4) .minbox:nth-child(2) .minboxModulo:nth-child(2) img {
    width: 40%;
    margin-left: 50%;
}

.Box4{
    height: 200px;    
    display: flex;
    justify-content: center;
    align-items: center;
}


.bntCard {
    position: relative;
    overflow: hidden;
    color: white;    
    font-size: 15px;    
    line-height: 15px;
    padding: 18px 18px 17px;
    text-decoration: none;
    cursor: pointer;    
    background-color: #510B7E;
    user-select: none;
    -webkit-user-select: none;
    border: none;
    touch-action: manipulation;
    font-family: "Poppins";
}

.minbox:nth-child(2) .bntCard,
.minbox:nth-child(4) .bntCard {
    color: #252E2F;
}

.bntCard span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 1;
}

.bntCard span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 3;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
}

.bntCard:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #A46BEB;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 1;
}

.bntCard:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}

.bntCard:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}


@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {

    .Principal {
        height: auto;
        margin-left: -2.3%;
    }

    .Producto {
        margin-left: -1.8%;
        height: auto;
        flex-direction: column;
    }

    .Box{        
        height: 320px !important;
        width: 100% !important;
    }

    .Box, .Box2{
        width: 100%;
        height: 50%;
        flex-direction: column;
        margin: 2% 0%;
    }

    .Box .minbox img{        
        height: auto;
        width: 80px !important;
    }

    .Box .minbox p {
        width: 80%;
        font-size: 14px;
        margin: auto;        
    }

    h2 {
        width: 100%;
        font-size: 22px !important;        
    }

    .Box .minbox, .Box2 .minbox{
        width: 100% !important;
        align-items: center;
        height: 50%;
    }

    .Box .minbox, .Box2 .minbox p{
        font-size: 14px !important;
    }

    .Box .minbox, .Box2 .minbox h2{
        margin: auto;
        width: 80%;        
    }

    .Box2:nth-child(2) .minbox:nth-child(2){        
        height: 300px;
    }

    .Box4 h2{
        width: 80%;
        margin: auto;
        font-weight: normal;
        font-size: 16px !important;        
        margin-bottom: 5%;
    }
    .bntCard {
        margin-left: 30%;
    }
}