:root{
    --Translate: 460px;
}

.Animado{
    transition: all 800ms;
    opacity: 0;
}


/*HEADER*/

.header{
    position: fixed;    ;
    width: 100%;
    height: 6%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;    
    background-color: rgba(255, 255, 255, 0.9); 
    backdrop-filter: blur(5px); 
    position: fixed;
    width: 100%;
    z-index: 2;
    margin: -1%;
    padding: 0.5%;
    display: flex;
    flex-direction:row;    
    z-index: 2;
    transition: all 800ms;
    transform: translate(var(--TranslateContent));    
}


.header img{
    width: auto;
    height: 100%;    
    cursor: pointer;
}

.header ul{
    position: absolute;
    right: 0%;
    list-style-type: none;
    /* background-color: rebeccapurple;      */
}

.header li a{
    text-decoration: none;
    color: #252E2F;
    cursor: pointer;   
    font-weight: bold;   
    font-size: 16px;
    transition: all 100ms;  
}

.header ul li a:hover{
    color: #013797;
}

.mostrarArriba{
    animation: mostrarArriba 1s;
}

@keyframes mostrarArriba{
    0%{
        transform:translateY(60px);
    }
    100%{
        transform:translateY(0);
    }
}

/* Responsive */

/* #Dispositivo = Smartphones */
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    .header{
        height: 5%;
        margin: -3.2%;        
        justify-content: center;        
    }
    .Logo {
        width: 80%;
        height: 30%;
        justify-content: center;
        /* background-color: red; */
    }
    .Logo svg{
        width: 16%;
    }
    .Logo h1{
        font-size: 25px;
        margin-top: 3%;
    }
    
    svg{        
        width: 10%;
    }
    .Busqueda{
        bottom: 0%;
        width: 90%;
        margin-right: 3%;
    }

    ul{
        bottom: 0%;
        margin-bottom: 20%;
        margin-right: 20%;
    }
    .Contenido{
        margin-top: 50%;
    }
}