
body{    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

:root{
    --Translate: -67%;
    --TranslateContent: 0%;
    --Rotate: 00deg;
}

::-webkit-scrollbar{
    display: none;
}

/*HEADER*/

.header{
    position: fixed;
    width: 100%;
    height: 6%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    background-color: white;
    margin: -1%;
    padding: 0.5%;
    display: flex;
    flex-direction:row;    
    z-index: 2;
    transition: all 800ms;
    transform: translate(var(--TranslateContent));    
}


.header img{
    width: auto;
    height: 100%;
    /* background-color: red; */
}

/* Contenido */

.Contenedor{
    position: absolute;    
    width: 99%;
    height: auto;
    margin: 2% 0%;        
    /* background-color: red; */
    color: black;
    transition: all 800ms;
    transform: translate(var(--TranslateContent));
}

.row{    
    display: flex;
    justify-content: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.row2{
    position: relative;
    display: flex;        
    height: 300px;
    margin: 1% 0%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.img2 img{    
    width: auto;
    height: 100px;
    box-shadow: rgba(15, 182, 220, 0.4) 0px 2px, rgba(18, 193, 232, 0.4) 0px 5px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}

.img img{
    width: auto;
    height: 100%;    
}

.Box{
    width:50%;
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
}

.box1, .box2{
    width: 60%;
    height: auto;
    /* background-color: red; */
}

.box2{
    width: 40%;
    /* background-color: red; */
}

.Icono{
    display: flex;
    align-items: center;
    /* background-color: red; */
    width: 20%;
    height: 100%;
}

.Icono img{
    width: 100%;    
}

.Contenedor h1{
    letter-spacing: 2px;
    text-transform: uppercase;    
}

ul{
   /* background-color: red;  */
   height: 80%;
   list-style: none;
}

ul li{
    /* background-color: green; */
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    width: 100%;
    margin-top: 5%;
    padding: 2%;
    border-bottom-right-radius: 10px;
    border: 2px solid #181818;
    z-index: 1;
}

ul li::before{
    position: absolute;
    content: '';
    width: 95%;
    height: 80%;
    background-color: #3496db;
    border-bottom-right-radius: 10px;
    z-index: -1;
    opacity: 40%;        
}

ul li::after{
    position: absolute;
    content: '';
    left: 0%;    
    top: 0%;
    width: 100%;
    height: 10%;
    background-color: #3496db;    
    z-index: -2;          
    opacity: 80%;    
}

@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    .row2{
        height: 120%;
        margin-top: 12%;
        flex-direction: column;
        /* background-color: red; */
    }
    .row2 h1{
        font-size: 22px;
    }

    .row2 .Box{
        /* background-color: blue; */
        width: 100%;
    }

    .Icono{
        display: flex;        
        width: 40%;  
        /* background-color: green;         */
        margin: 0% auto;    
    }

    .box1, .box2{        
        margin: 0% -1.5%;
        /* background-color: blue; */
    }
}